/*Firstly, I created universal selectors to make my code more organized and to use what will be most useful to me, such as a color palette and some pre-defined formats.*/

:root {
  --navhead: #5D561B;
  --greyhero: #AAAAAA;
  --between: #C7B300;
  --greyreserv: #5A5C5A;
  --footer: #000000;
  --white: #FFFFFF;
  --goldlight: #e8f885ea;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *::after {
  box-sizing: inherit;
}
body{
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

/*First of all, starting with the header, where the logo is included in a way that emphasizes the mobile-first approach initially, and then, as the screen size increases, it is hidden to display a different layout and make it responsive.*/


.title {
  text-align: center;
  font-size: 4rem;
  font-family: 'Fasthand', cursive;
}

@media (min-width: 780px){
  .header{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo img{
  height: 7rem;
  max-width: 30rem;
}

@media (min-width: 780px){
  .logo img{
    margin-left: 0rem;
    margin-top: 1.2rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1140px){
  .logo img{
    margin-left: 0rem;
    margin-top: 1.6rem;
    padding-right: 5rem;
  }
}

/*Then, I started working with the navigation bar, assigning different classes to it in order to manipulate both parent and child elements independently.*/

.container{
  max-width: 120rem;
}

.nav-bg{
  align-items: center;
}

@media (min-width : 780px){
  .nav-bg{
    max-width: 80%;
  }
}

.nav-principal {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  background-color: #AAAAAA;
}

@media (min-width : 780px) {
  .nav-principal{
      background-color: #FFFFFF;
      flex-direction: row;
      justify-content: space-around;
  }
}

.nav-principal a{
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem;
}

@media (min-width : 780px){
  .nav-principal a{
    color: #000000;
    font-style: normal;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (min-width : 900px){
  .nav-principal a{
    color: #000000;
    font-style: normal;
    padding: 1.5rem;
    font-size: 2rem;
  }
}
.nav-principal a:hover{
  background-color: var(--goldlight);
  color: var(--navhead);
}

.hero{
  display: flex;
  justify-content: center;
  height: 400px;
  background: #495E57;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media (min-width : 780px){
  .hero{
  height: 340px;
  background: #495E57;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: inherit;
  text-align: center;
  }
}

.cardHero{
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 34rem;
  width: 28rem;
}

@media (min-width: 780px) {
  .cardHero{
    height: 34rem;
    width: 48rem;
  }
}



.part1{
  max-width: 50%;
  padding: 0 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.part1 h1{
  color: #F4CE14;
  font-family: markazi;
  font-size: 3.5rem;
  margin-top: 5rem;
  margin-bottom: -2rem;
}

@media (min-width : 780px){

  .part1 h1{
    color: #F4CE14;
    font-size: 5rem;
    margin-bottom: -3rem;
    margin-top: 2rem;
  }
}

@media (min-width: 780px) {
  .part1 h3 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}
.part1 h3{
  
}

.part1 p{
  width: 20rem;
  color: #EDEFEE;
  margin-bottom: 5rem;

}


@media (min-width: 780px) {
  .part1 p{
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
}
.btn1{
  height: 6rem;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
  background-color: #F4CE14;
  font-weight: 700;
}

.btn1:hover{
  cursor: pointer;
}

@media (min-width: 500px) {
  .btn1{
  height: 6rem;
  width: 22rem;
  }
}

@media (min-width: 780px) {
  .btn1{
  height: 6rem;
  width: 25rem;
  }
}

.part2{
  display: flex;
  align-items: center;
  max-width: 50%;
  font-family: markazi;
}



.card{
  height: 30rem;
  width: 22rem;
  margin-top: 5rem;
  border-radius: 10px;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);
}

@media (min-width : 780px){
  .card{
    margin-top: 3rem;
    margin-left: 8rem;
    height: 39rem;
   width: 34rem;
  }
}


/*---------------------------------------------*/

.specialSection {
  height: 165rem;
}

@media (min-width:780px) {
  .specialSection{
    height: 70rem;
  }
}


.btnSection{
  font-family: markazi;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: none;
  height: 20rem;

}
.btnSection h2{
  text-align: center;
  margin-top: 10rem;
}
.btn2{
  margin-bottom: 10rem;
}

@media (min-width:780px) {
  .btnSection h2{
    text-align: start;
    margin-top: 0.5rem;
    font-size: 4rem;
  }
}

@media (min-width:780px){
  .btnSection{
    flex-direction: row;
    margin-top: 28rem;
    height: 0rem;
  }
}

@media (min-width: 780px) {
  .btn2{
    margin-left: 16rem;
  }
}


.cardOptions{
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  height: 65rem;
  width: 40rem;
}
@media (min-width: 780px) {
  .cardOptions{
    flex-direction: row;
    padding: 0rem;
    width: 25rem;
    height: 45rem;
    margin: -7rem 1rem 8rem;
  }
}
@media (min-width: 1440px) {
  .cardOptions{
    margin: -7rem 4rem 8rem;
  }
}


.cardSpecial{
  background-color:#EDEBEB;
  border-radius: 10px 10px 0 0 ;
}

@media (min-width:780px) {
  .cardSpecial{
    width: 25rem;
    height: 45rem;
  }
}



.cardSpecialImg{
  height: 25rem;
  width: 40rem;
  background-color:#EDEBEB;
  margin-left: 0rem;
  border-radius: 10px 10px 0 0 ;
}
@media (min-width:780px) {
  .cardSpecialImg{
  height: 18rem;
  width: 25rem;
  }
}


.dishName{
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
  font-size: 3rem;
}
@media (min-width: 780px){
  .dishName{
    font-size: 1.5rem;
  }
}

.price{
  color:#F88554;
}

.cardSpecial p{
  font-size: 2.5rem;
  margin: 1rem 2rem;
  color:#495E57;
}

@media (min-width: 780px){
  .cardSpecial p{
    font-size: 1.5rem;
  }
}
.orderADelivery{
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

@media (min-width: 780px){
  .orderADelivery{
    font-size: 2rem;
  }
}




@media (min-width: 780px) {
  .dishes{
    display: flex;
    justify-content:space-around;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1440px) {
  .dishes{
    justify-content: center;
  }
}





.hero2{
  height: 600px;
  background-color: #F4F4F4;
}

.hero2 p{
  color: #000000;
  font-weight: 700;
}

.cardHero2{
  margin-top: 10rem;
}

.part2section{
  margin-top: 5rem;
}

.footer{
  display: flex;
  justify-content: space-around;

}

/* .uno{
  display: flex;
  flex-direction: column;
}

.dos{
  display: flex;
  flex-direction: column;
}

.tres{
  display: flex;
  flex-direction: column;
} */

footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #495E57;
}
.nav-footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
  margin-right: 5rem;
  height: 20rem;
  width: 20rem;

}
.nav-footer a{
  margin: 2rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 900;
}

.newsletter{
  text-align: center;
  color: var(--white);
}

.form-footer{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.form-footer label{
  margin: 0.5rem;
  font-weight: 700;
}

.form-footer input{
  border-radius: 0.5rem;
  height: 3rem;
  width: 25rem;
}

.logo-footer{
  filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
}

.copy-right{
  color: var(--white);
}
.social-media{
  height: 10rem;
}
.social-media svg{
  height: 3rem;
  margin: 2rem;
}
.copy-right2{
  display: none;
}
.active{
  display: flex;
}

@media (min-width : 920px){
  footer{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 40rem;
  }
  .copy-right{
      display: none;
  }
  .copy-right2{
      display: flex;
      margin-left: 7rem;
  }
  .nav-footer{
      margin-right: 17rem;
  }
  .newsletter{
      margin-right: 10rem;
  }

}

@media (min-width : 1140px) {
  footer{
      height: 24rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: column;
  }
  .form-footer { 
      align-items: center;
  }
  .form-footer input{
      border-radius: 1rem;
      height: 4rem;
  }
  
  .logo{
    height: 10rem;
  }

  .form-footer .last-button{
      padding: 0.9rem;
      margin-left: 0.8rem;
      border-radius: 1rem;
  }
  .last-button:hover{
      background-color: var(--between);
      color: var(--navhead);
      font-weight: 900;
  }
  .copy-right{
      display: none;
  }
  .copy-right2{
      display: flex;
      margin-left: 7rem;
      margin-top: 5rem;
  }
  .social-media{
      margin-left: -5rem;
  }
  .active{
      display: flex;
      margin-top: 0.5rem;
      margin-left: -10rem;
  }
  .nav-footer{
      margin-right: 2rem;
  }
  .newsletter{
      margin-right: 2rem;
  }
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105rem;
  padding: 2rem;
}

.formContainer{
  display: flex;
  flex-direction: column;
  height: 70rem;
  width: 60rem;
  background-color: #b4a693;
  border-radius: 10px;
}

.labelForm{
  margin-top: 3rem;
  margin-left: 10%;
  width: 80%;
  color: #FFFFFF;
  font-weight: 700;

}

.inputForm{
  margin-top: 0.5vh;
  margin-left: 10%;
  width: 80%;
  height: 6%;
  border-radius: 5px;
  border-width: none;
}

.date {
  display: flex;
  flex-direction: column;
}

.inputDate{
  width: 35%;
  height: 35%;
}

.dayAndHour{
  display: flex;
  height: 20%;
}
